
.director-top img{
    margin-left: 135px;
}

.director-top-menu{
    display: flex;
    margin-top: -100px;
    margin-left: 600px;
    gap: 30px;
     font-size: 15px;
    cursor: pointer;
}


.gallary-hover-menu{
    margin-top: 8px;
}

.director-top{
    width: 100%;
    height: 400px;;
    margin-top: 120px;
}

.director-top-item{
    justify-content: center;
    margin-left: 1070px;
    margin-top: 100px;
   
}

.director-top-item h1{
     font-size: 50px;
    font-weight: 600;
    color: #351a3a;
    margin-left: 5px;
    margin-bottom: 20px;
}

.director-top-item h4{
     font-size: 20px;
    font-weight: 550;
    border: solid #fff 2px;
    background-color: #fff;
    color: #000;
    width: 340px;
    gap: 7px;
    padding: 15px 0;
    padding-left: 30px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.card-ad {
    position: relative;
    color: black;
    overflow: hidden;
    z-index: 1;
}

.card-ad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/assets/Photos/Gra back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: 12px;
}

.adm {
    box-sizing: border-box;
    padding: 8px 8px;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: border 0.3s;
    cursor: pointer;
}
.adm:hover {
    border-color: #7c2681;
}


/*midddle*/

.director-middle-top{
    background-color: #777373;
    color: #fff;
    height: 370px;
    font-family: sans-serif;
}

.director-middle-menu{
    display: flex;
    margin-left: 400px;
    
}

.director-middle-menu-photo img{
    margin-top: 110px;
    height: 300px;
}

.director-middle-menu-child{
    margin-top: 100px;
    margin-left: 100px;
}

.director-middle-menu-child h3{
    font-size: 23px;
    font-weight: 470;
  
}

.director-middle-menu-child h1{
    margin-top: 50px;
    font-size: 32px;
}


.director-middle-menu-child h2{
    margin-top: 11px;
    font-size: 23px;
    font-weight: 500;
}

.director-middle-menu-contact{
    display: flex;
    align-items: center;
    gap: 20px;
}

.director-mail-icon{
    width: 30px;
    margin-left: 100px;
    margin-top: 30px;
}
.director-middle-menu-contact p{ 
    margin-top: 30px;
    font-size: 22px;
}


.director-call-icon{
    margin-top: 33px;
    width: 30px;
}

.director-middle-para{
    display: flex;
    font-size: 25px;
    padding-left: 500px;
    padding-right: 150px;
    font-family: "smcp", "zero";
    color: #887676;
}

.director-middle-menu-photo img{
    margin-left: -300px;
    margin-top: -200px;
    border: #443e3e solid 2px;
}

.director-middle-menu-item{
    margin-top: 100px;
    margin-left: 30px;
}

.director-middle-menu-item h1{
    color: #232020;
}
.director-middle-menu-item img{
    margin-top: 10px;
    margin-bottom: 30px;
}

.director-middle-add p{
    font-size: 30px;
    margin-top: 40px;
}


