.dept{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    margin-bottom: 30px;
   
}

.dept-container{
    position: relative;
}

.dept-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.4s;
    cursor: pointer;
    height: 400px;
}

.dept-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
   
}

.dept-format h3{
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(270deg, #e6c18b 50%, #a87cbd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
}

.dept-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.dept-format p{
    color: #0f0b0b;
    font-size: 20px;
    line-height: 40px;
    max-width: 250px;
}


.dept-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}